<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HomeScreen</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <header>
            <nav id="navbar-1" class="navbar sticky-top">
                <div class="container-xxl">
                    <a class="navbar-brand p-0" href="HomeScreen.html">
                        <img src="img/main-logo.png" alt="Discount" title="Discount">
                    </a>
                    <div class="btn-toolbar" role="toolbar">
                        <button class="btn btn-secondary">
                            <span class="option-1">
                                <i class="bi bi-plus-square"></i>
                            </span>
                            <span class="option-2">
                                <i class="bi bi-plus-square"></i>&nbsp;
                                Dodaj okazję
                            </span>
                        </button>
                        <button class="btn btn-secondary ms-2">
                            <span class="option-1">
                                <i class="bi bi-person"></i>
                            </span>
                            <span class="option-2">
                                <i class="bi bi-person"></i>&nbsp;
                                Zaloguj się / Zarejestruj się
                            </span>
                        </button>
                        <button class="btn btn-secondary ms-2">
                            <span class="option-1">
                                <i class="bi bi-door-open"></i>
                            </span>
                            <span class="option-2">
                                <i class="bi bi-door-open"></i></i>&nbsp;
                                Wyloguj się
                            </span>
                        </button>
                    </div>
                </div>
            </nav>

            <nav id="navbar-2" class="navbar">
                <div class="container-xxl my-1 my-md-0">
                    <div class="row">
                        <div class="col-12 col-md-3 offset-md-1">
                            <select class="form-select">
                                <option selected>Wybierz kategorię</option>
                                <option value="electronics">Elektronika</option>
                                <option value="house">Dom</option>
                                <option value="health">Zdrowie</option>
                            </select>
                        </div>
                        
                        <div class="col-12 my-1 col-md-4 my-md-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Wyszukaj okazję">
                                <div id="button-search" class="input-group-text">Szukaj</div>
                            </div>
                        </div>

                        <div class="col-12 col-md-3">
                            <select class="form-select">
                                <option selected>Sortuj</option>
                                <option value="electronics">Najnowsze</option>
                                <option value="house">Najstarsze</option>
                                <option value="health">Cena rosnąco</option>
                                <option value="health">Cena malejąco</option>
                            </select>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main id="HomeScreen" class="pt-4">
            <section>
                <div class="container-xxl">
                    <div id="discount-element" class="card mb-4">
                        <div class="row">
                            <div class="col-12 col-md-3 mt-3 mt-md-0 pe-md-0 d-flex justify-content-center align-items-center">
                                <div class="row d-flex justify-content-center ">
                                    <div id="img-container" class="col-5 col-sm-4 col-md-12 mt-md-2 p-1 d-flex justify-content-center align-items-center">
                                        <img class="d-flex justify-content-center align-items-center" src="img/300x300.png" alt="...">
                                    </div>
                                    <div id="liker-container" class="col-7 col-sm-8 col-md-12 p-0 d-flex justify-content-end justify-content-sm-center align-items-center">
                                        <div class="btn-group pt-md-3" role="group">
                                            <button type="button" id="liker-element" class="btn btn-outline-secondary">
                                                <i class="bi bi-hand-thumbs-up-fill"></i>
                                            </button>
                                            <div id="liker-label" class="btn btn-secondary">-0000</div>
                                            <button type="button" id="liker-element" class="btn btn-outline-secondary">
                                                <i class="bi bi-hand-thumbs-down-fill"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-9">
                                <div class="card-header">
                                    <a class="text-light text-decoration-none" href="DiscountScreen.html">
                                        <h4 class="card-title mx-0 my-1">OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</h4>
                                    </a>
                                </div>

                                <div class="card-body">
                                    <p class="card-text">
                                        <span id="main-price" class="me-2">0000000,00 zł</span>
                                        <span class="me-3">
                                            <span id="previous-price" class="text-decoration-line-through me-1">0000000,00 zł</span>
                                            <span id="discount-percentage">-000%</span>
                                        </span>
                                        <span id="store-badge" class="badge me-1">
                                            <i class="bi bi-bag-check me-1"></i>OOOOOOOOOOOOOOOOOOOOOOOO
                                        </span>
                                        <span id="delivery-badge" class="badge">
                                            <i class="bi bi-truck me-1"></i>Darmowa dostawa
                                        </span>
                                    </p>
                                    <p id="description" class="card-text overflow-hidden">
                                        OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                                    </p>
                                    <p class="card-text">
                                        <small class="me-1">
                                            <i class="bi bi-person-circle"></i>
                                            <b>OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</b>,
                                        </small>
                                        <small>00.00.0000, 00:00</small>
                                    </p>
                                </div>

                                <div class="card-footer px-0 py-3">
                                    <div class="row">
                                        <div class="col-12 col-sm-7 col-md-4">
                                            <button type="button" id="button-code" class="btn btn-outline-secondary w-100" data-bs-toggle="tooltip" data-bs-placement="top" title="Kliknij aby skopiować kod">
                                                OOOOOOOOOOOOOOOO <i class="bi bi-scissors ms-1"></i>
                                            </button>
                                        </div>
                                        <div class="col-12 col-sm-5 col-md-4 mt-2 mt-sm-0">
                                            <button type="button" id="button-more" class="btn btn-secondary w-100">
                                                Zobacz więcej <i class="bi bi-arrow-left-square ms-1"></i>
                                            </button>
                                        </div>
                                        <div class="col-12 col-md-4 mt-2 mt-md-0">
                                            <button type="button" id="button-go" class="btn btn-secondary w-100">
                                                Idź do okazji <i class="bi bi-arrow-up-right-square ms-1"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-xxl">
                    <hr class="mb-0">
                </div>
                <div class="container-xxl d-flex justify-content-center align-items-center">
                    <div id="paginator" class="btn-group my-3" role="group">
                        <button type="button" class="btn btn-outline-secondary">
                            <i class="bi bi-chevron-double-left"></i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary">
                            <i class="bi bi-chevron-left"></i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary">1</button>
                        <button type="button" class="btn btn-secondary">2</button>
                        <button type="button" class="btn btn-outline-secondary">3</button>
                        <button type="button" class="btn btn-outline-secondary">4</button>
                        <button type="button" class="btn btn-outline-secondary">
                            <i class="bi bi-chevron-right"></i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary">
                            <i class="bi bi-chevron-double-right"></i>
                        </button>
                    </div>
                </div>
            </section>
        </main>

        <footer class="pt-4 pb-4">
            <div class="container-xxl text-center text-md-left">
                <div class="row text-center text-md-left">
                    <div class="col-12 col-md-8 mx-auto mt-3">
                        <h5 class="mb-4 text-uppercase fw-bold">O nas:</h5>
                        <p>
                            Discount to aplikacja internetowa pozwalająca na gromadzenie ofert, promocji oraz kuponów, które można wykorzystywać podczas zakupów w przeróżnych sklepach. Każdy może dodać nową promocję lub kupon, a także skorzystać z tych już dodanych przez innych użytkowników i ocenić je! Nie masz konta? Załóż je i zostań łowcą okazji z Discount - z myślą o Twoim portfelu!
                        </p>
                    </div>

                    <div class="col-12 col-md-4 mx-auto mt-3">
                        <h5 class="mb-4 text-uppercase fw-bold">Kontakt:</h5>
                        <p>
                            <i class="bi bi-house-door me-1"></i> ul. Przykładowa 1/1, Przykładowice
                        </p>
                        <p>
                            <i class="bi bi-envelope me-1"></i> discountapp@gmail.com
                        </p>
                        <p>
                            <i class="bi bi-telephone me-1"></i> +48000000000
                        </p>
                    </div>

                    <hr class="mb-4">

                    <div class="row align-items-center">
                        <p>Copyright © 2021 &nbsp;|&nbsp; Discount &nbsp;|&nbsp; Wszelkie prawa zastrzeżone.</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </body>
</html>
